body{
   background-size:cover;
   width:100vw;
   height:100vh;
   background-image:url("background.jpg");
   margin:0px;
   background-position: top;
}

ul{
    margin: 0px;
    padding-left: 0px;
}

li{
    margin: 0px;
    display: inline;
}

.Centraliza_top{
    width: 55%;
    /*height: 100%;*/
    justify-items: center;
}

.barra_menu{
    margin: 0px;
    background-color:rgb(255, 253, 253,0.3);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom:  10px;
}

.icon{
    float: left;
    margin: 0 auto;
    color: white;
    margin-right: 5px;
}

.texto_microsoft{

    margin: 0 auto;
    float: left;
    color: white;
    font-size: 19px;
    text-align: center;
}


.botao_experimente{
    display: table;
    float: left;
    margin-left: 330px;
    width: 240px;
    color: white;
    height: 32px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
}

#experimente{
    display: table-cell;
    text-align: center;
    font-size: 18px;
    font-weight:bold;
    vertical-align:middle;
}
/*
.botao_entrar{
    float:right;
    color: #0b729b;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    opacity: 1;
}*/

#entrar{
    display: table-cell;
    text-align: center;
    font-size: 14px;
    font-weight:bold;
    vertical-align:middle;
    padding-top:7px;
    padding-bottom:7px;
    padding-left: 20px;
    padding-right: 20px;
    color: #0b729b;
    margin-left: 20px;
}

.Centro{
    margin: 0px;
    /*background-color:red;*/
    /*height: 77vh;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Centraliza_centro{
    width: 55%;
    justify-items: center;
}

#outlook{
    font-size: 1vw;
    color: white;
    margin-top: 5vh;
    height: 16vh;
}

#conecte-se{
    font-size: 3vw;
    color: white;
}

.barra_texto{
    float: right;
    height: 19.2vh;
    width: 80vw;
    background-color: white;

}

.Centraliza_baixo{
    padding-left: 3vw; /*Modificar*/
    width: 400px;
}

#texto_email{
    color: #333333;
    width: 350px;
    font-size: 10px;
}

#texto_geral{
    float: left;
    color: black;
    height: 60px;
    width: 650px;
    font-size: 20px;
}

/********************************************************/

.menu2{
    display: none;
    width: 100vw;
    height: 700px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.conteudo_login{
    display: flex;
    width: 400px;
    height: 300px;
    background: #333;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}

.conteudo_registro{
    display: flex;
    width: 400px;
    height: 600px;
    background: #333;
   
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}

.login_nome{
    height: 40px;
    width: 70%;
    background-color:#333;
    border-radius:2px;
    margin-bottom:15px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

.entre{
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
 }

 .erro_login{
    display: none;
    font-style: normal;
    text-align: center;
    color: red;
 }

 input[type="text"]{
    background-color: #333;
    cursor: default;
    appearance: auto;
    outline: none;
    box-sizing: border-box;
    margin: 10px 3px 3px 5px;
    border: initial;
    color:white;
    font-weight: bold;
    width: 260px;
 }
 
 input[type="password"]{
    background-color:#333;
    cursor: default;
    appearance: auto;
    outline: none;
    box-sizing: border-box;
    margin: 10px 3px 3px 5px;
    border: initial;
    color:#8c8c8c;
    font-weight: bold;
    width: 260px;
 }
 
 .entrar{
    font-size: 30px;
    text-align: left;
    color: white;
    font-weight: bold;
 }
 
 .login{
   height: 40px;
   width: 100%;
   background-color:#333;
   border-radius:2px;
   margin-bottom:15px;
 }
 
 .entrar_login{
   margin-top:10px;
   height: 40px;
   width: 150px;

   background-color:red;
   font-size:20px;
   color:white;
 
   border-color: white;
   border-radius:2px;
   border-width: 2px;

 
 }  
 
 input[type="checkbox"]{
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 7px 3px 3px 0px;
    padding: initial;
    border: initial;
    position: relative;
    right:25px;
    top: 1px;
 }
 
 .ajuda{
  display:inline-block;
  margin: 7px 0px 3px 30px;
  font-size:15px;
 }

.menu3{
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0,0.5);
}

.menu4{
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0,0.5);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header_topo{
    display: flex;
    height: 10vh;
    flex-direction: row;
    align-items: center;
    font-family: 'Fruktur', cursive;
    color: white;
    float: left;
    margin-left: 7vw;
}

#Espaço_topo{
    margin-right: 1vw;
}

.barra_imagens{
    display: flex;
    width: 100%;
    height:80vh;
    background-color: transparent;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
}
.barra_final{
    width: 100%;
    height:10vh;
}

.pesquisa_opcoes{
    display: flex;
    font-size: 14px;
    font-weight:bold;
    vertical-align:middle;
    padding-top:7px;
    padding-bottom:7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0b729b;
    margin-left: 20px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

#lista{

    display: inline;
}

.dadosHerois{
    margin-top: 15px;
    width: 154px;
    height: 100px;
    display: inline-block;
    background-color: white;
    margin-left: 5px;
    margin-bottom: 5px;
}
 
@media only screen and (max-width:360px){

    body{
        background-repeat: no-repeat;
    }

    .Centraliza_top{
        width: 90%;
        justify-items: center;
    }

    .barra_menu{
        height: 3vh;
       
    }

    .icon{
        margin-right: 0px;
        height: 26px;
        color: white;
        margin-right: 5px;
    }

    .texto_microsoft{
        margin-top: 5px;
        float: left;
        color: white;
        font-size: 13px;
        text-align: center;
    }
    
    .botao_experimente{
        display: table;
        float: left;
        width: 85px;
        color: white;
        height: 25px;
        border-style: solid;
        border-color: white;
        border-width: 1px;
        border-radius: 0px;
        margin-left: 5px;
    }

    #experimente{
        padding: 3px;
        display: table-cell;
        text-align:left;
        font-size: 9px;
        font-weight:bold;
        vertical-align:middle;
    }

    .botao_entrar{
        float:left;
        margin-left: 5px;
        color: #0b729b;
        background-color: white;
        border-style: solid;
        border-color: white;
        border-width: 1px;
        border-radius: 2px;
        opacity: 1;
    }

    #entrar{
        display: table-cell;
        text-align: center;
        font-size: 9px;
        font-weight:bold;
        vertical-align:middle;
        padding-top:3px;
        padding-bottom:3px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .Centro{
        margin: 0px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .Centraliza_centro{
        width: 90%;
        justify-items: center;
    }
    
    #outlook{
        font-size: 2vw;
        color: white;
        margin-top: 3vh;
        height: 16vh;
        width: 10vw;
    }
    
    #conecte-se{
        margin-top: 100px;
        font-size: 3.5vw;
        color: white;
        width: 200px;
        margin-bottom: 0px;
    }
    
    .barra_texto{
        background-color: transparent;
        float: left;
        width: 200px;
        height: 100px;
    }
    
    .Centraliza_baixo{
        padding-left: 5vw; /*Modificar*/
        width: 200px;
        height: 200px;
        margin: 0px;
    }
    
    #texto_email{
        color: white;
        width: 210px;
        font-size: 6px;
        margin-left: 0px;
        margin-top: 20px;

    }
    
    #texto_geral{
        display: none;
    }
    
    .criar_conta{
        float: left;
        position: relative;
        bottom: 0vh;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
        font-size: 13px;
        height: 25px;
        width: 210px;
        background-color: #0078d4;
        border-width: 2px;
        border-radius: 5px;
        color:white;
        left: 0px;
        word-spacing: 2px;
        padding-top: 7px;
    }



    


    

    


    

    

}